.arrow {
	text-decoration: none;
	font-size: 2.4rem;
	color: #000;
}

.wrapper-arrow{
	width: 100%;
	height: auto;
	background-color: #FAFAFA;
	display: flex;
	align-items: flex-start;
	padding: 0.5rem clamp(1rem, 5vw, 5rem);
}
