.contact {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.contact .content h1 {
	margin-bottom: 3rem;
	color: #fff;
}

.contact .content h1::before {
	content: '';
	display: block;
	width: 30rem;
	background: #a6131a;
	height: 8rem;
	position: absolute;
	top: 80px;
	z-index: -1;
	margin-left: -6rem;
	border-radius: 15px;
}

.contact .content {
	font-size: clamp(1rem, 2vw, 1.5rem);
	width: 100%;
	padding: 0 5rem;
	min-height: calc(100vh - 8rem);

	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.contact .content p {
	margin-bottom: 2rem;
}

footer {
	background: #a6131a;
	width: 100%;
	height: 100%;
}
