.project {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.content {
	padding: 0 5rem;
	min-height: calc(100vh - 8rem);

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

footer {
	background: #a6131a;
	width: 100%;
}
