.wrapper {
	width: 100%;
	background-color: #fafafa;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	width: 100%;
	background-color: #a6131a;
	position: relative;
	height: 40vh;
	display: flex;
	padding: 40px;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

.header .bg-img {
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: auto;

	z-index: 0;
}

.header .team-img {
	width: 30vw;
	height: auto;
	z-index: 1;
}

.header h1 {
	color: white;
	margin: 0;
	text-align: center;
}

.credits {
	padding: 0 40px 40px;

	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.credits p {
	margin-bottom: 1rem;
}
.credits p, li{
	font-size: clamp(1rem, 2vw, 1.5rem);
}
.grid {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}

.grid > div {
	flex: 1;
}

.grid h3 {
	font-size: clamp(1rem, 2vw, 1.5rem);
}

@media (max-width: 600px) {
	.wrapper{
		height: auto;
	}

	.header {
		height: auto;
		flex-direction: column;
		gap: 24px;
	}

	.header .team-img {
		width: 100%;
		max-width: unset;
	}

	.credits {
		height: auto;
		display: flex;
		flex-direction: column;
	}
}
