body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

.nav-active {
  color: purple;
  font-weight: bold;
	text-decoration: none;
}

nav {
	display: flex;
	gap: 24px;
}
