html {
	scroll-behavior: smooth;

}

#root {
	overflow: hidden;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #FAFAFA;
}

.nav-active {
  color: purple;
  font-weight: bold;
	text-decoration: none;
}

nav {
	display: flex;
	gap: 24px;
}
