header {
	text-align: center;
	z-index: 2;
	background: rgba(255, 255, 255, 0.7);
	padding: 0.6rem 2rem;
	width: 100%;
}

header img{
	width: 100%;
	max-width: 400px;
}

header h1 {
	font-size: clamp(1.5rem,4vw,2.4rem);
	font-weight: 800;
}

.highlight {
	color: rgb(255, 0, 0);
}

@media (max-width: 800px) {
	header img {
		width: 60%;
	}
}
