header {
	text-align: center;
	z-index: 2;
	background: rgba(255, 255, 255, 0.7);
	padding: 0.6rem 2rem;
	width: 100%;
}

header h1 {
	font-size: 2.4rem;
	font-weight: 800;
}

.highlight {
	color: rgb(255, 0, 0);
}
