.button-link {
	padding: 4rem;
	outline: 0;
	border: none;
	font-weight: 600;
	font-size: 1.2rem;
	cursor: pointer;
	color: #fff;
	transition: all 0.2s;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-link:hover {
	filter: brightness(0.8);
}
